.high {
  margin-top: 200px;
}
.flex-About {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.first {
  width: 500px;
}
.caption {
  background-color: rgb(61, 30, 61);
  color: white;
  margin-top: 0;
}
.second {
  border: 1px solid rgb(221, 215, 215);
  height: 200px;
  background-color: white;
  width: 400px;
}
.second span {
  margin-left: 50px;
}
.second p {
  margin-left: 30px;
}
.second #left {
  margin-left: 120px;
}
.abtl {
  width: 100%;
}
